@import './SideNavBar.css';
html{
    height: 100%;
}

body{
    background-image: url('../imgs/theme.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-size: cover;
    
}
h1{
    font-size: 5rem;
  text-align: center;
height:10vh;
line-height: 10vh;
  color: #fcedd8;
     font-family: 'Niconne', cursive;
  font-weight: 5;
text-shadow: 5px 5px 0px #eb452b, 
            10px 10px 0px #efa032, 
            15px 15px 0px #46b59b, 
            20px 20px 0px #017e7f, 
            25px 25px 0px #052939, 
            30px 30px 0px #c11a2b;
}


/* Headers */
.background-headline{
    background: #0000006e;
    margin: 0 25%;
} */
/* Notes */

/* Notes container */
.notes-container{
    min-width:95%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    /* grid-auto-rows:200px; */
    gap:30px;
    margin:10px;
}
.note{
    background:#292b2c;
    display: flex;
    flex-direction: column;
    text-align: center;

}
.text-note{
    min-height: 300px;
}
/* .img-note{
    grid-column:span 2;
} */

/* delete btn */
.delete-btn{
    width:30px
}
/* .welcome{
    color: #ececec;
    text-align: center;
    width: 50%;
    margin-inline-start: 25%;
    background: #000000a3;

}

.grid {
    display:grid
}



.flex{
    display: flex;
}
.flex-column{
    flex-direction: column;
}
.justify-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}
.justify-between{
    justify-content: space-between;

}
.nav-bar{
    color: #ececec
}
.active-nav{
    color:#30475e
}
 */
 .img{
     /* max-width:100%;
     max-height: 170px */
     width: 100%;
    height: 50%;
 }